// base
@import "base/color";

// component
@import "component/button";

///table
.table {
    margin: 30px auto;
}

body {
    background-color: $background;
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-group-title{
    color: $color;
    font-size: 20px;
    font-weight: bold;
}

// .ivu-table{
//     background-color: $background;

// }
