// base
@import "base/color";

// component
@import "component/button";

body{
    background-color: $background;
}
$container:100%;
.container{
    position: absolute;
    max-width: $container;
    left: 290px;
    margin: auto;
}